body {
    background-color: white;
}

h1 {
    text-align: center;
}

main {
    justify-content: center;
    
}

section {
    justify-content: center;
}

#color-palette {
    display: flex;
    gap: 8px;
}

#black {
    background-color: black;
}

.color {
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-radius: 3px;
}

#pixel-board {
    display: grid;
    margin-top: 50px;
}

.pixel {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

#clear-btn {
    text-align: center;
    margin-top: 20px;
}

.input-container {
    text-align: center;
}

#button-random-color {
    text-align: center;
    margin-top: 50px;
    margin-inline: center;
    width: auto;
}