* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    max-width: 1110;
    width: 50%;
    text-align: center;
}

#color-palette {
    background-color: white;
    margin: 150px auto;
    padding: 10px;
}
.canvas {
    border: 1px dotted black;
    flex-direction: column;
    padding: 1px;
}
.canvas, .controls {
    align-items: center;
}

button {
    margin-bottom: 15px;
}

.color {
    border: 1px solid black;
    display: inline-block;
    height: 40px;
    width: 40px;
}

.pixel-board {
    border-collapse: collapse;
    border-spacing: 0px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    border: 1px solid black;
    background-color: white;
    display: inline-flex;
    height: 25px;
    width: 25px;
}

.actionButton {
    background-color: white;
    border: 1px solid black;
    margin: 0 5px 15px 0;
    padding: 8px;
}

table {
    vertical-align: middle;
    border: 1px solid black;
    background-color: white;
    display: inline-flex;
    height: 25px;
    width: 25px;
}

.board-size {
    height: 20px;
    width: 100px;
}